Repository camerondurham/codecanvas, pull requests merged in 2022-04, with the labels that each got.

#65 Fix container startup, close #64
  .github/workflows/golang-ci-lint.yaml
  Makefile
  docker/server-alpine/Dockerfile
  docker/server-debian/Dockerfile
  docker/server-debian/entrypoint.sh
  engine/coderunner/runner.go
  engine/runtime/runtime.go
  server/main.go
  server/main_test.go
Labels: server, runtime

#66 Fix broken server build/push action
  .github/workflows/docker-push.yml
Labels: bug

#67 🚀 Deploy: add deploy config files and github action, closes #56
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/flyctl-deploy.yml
  Makefile
  cli/runner/client/client.go
  docker/mock-server/Dockerfile
  docker/server-alpine/Dockerfile
  docker/server-debian/Dockerfile
  docker/server-debian/docker-compose.yml
  fly.toml
  hack/kill_server.sh
  readme.md
  server/main.go
  server/mock-server/main.go
  server/test_server_startup.sh
Labels: server

#70 Basic web frontend with CodeMirror
  web-frontend/.gitignore
  web-frontend/Makefile
  web-frontend/index.html
  web-frontend/js/load.js
  web-frontend/package-lock.json
  web-frontend/package.json
  web-frontend/style/main.css
Labels: frontend

#72 Fix CORS errors, implement CORS with go-chi/cors
  go.mod
  go.sum
  server/main.go
  server/main_test.go
Labels: bug, server

#71 API calls are working, right now they only output to console but will…
  web-frontend/Makefile
  web-frontend/index.html
  web-frontend/js/api-calls.js
  web-frontend/js/load.js
  web-frontend/style/main.css
Labels: frontend

#73 deploy with https and add CORS preflight check support
  docker/frontend/Dockerfile
  docker/server-debian/docker-compose.yml
  fly.toml
  server/main.go
  server/main_test.go
Labels: server

#74 API Request overhaul with promises and asynchronous support. The API'…
  web-frontend/index.html
  web-frontend/js/api-calls.js
  web-frontend/js/load.js
  web-frontend/style/main.css
Labels: frontend

#75 Added output box for runner output after api call
  web-frontend/index.html
  web-frontend/js/api-calls.js
  web-frontend/style/main.css
Labels: frontend
